<nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
      <a class="navbar-item" href="https://bulma.io">
        <img
          src="https://bulma.io/images/bulma-logo.png"
          width="112"
          height="28"
        />
      </a>
    </div>
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item" routerLink='/' routerLinkActive="active">DashBoard</a>
          <a class="navbar-item" routerLink='/product' routerLinkActive="active">products</a>
          <a class="navbar-item" routerLink='/settings' routerLinkActive="active">settings</a>
          <a class="navbar-item" (click) = logoutAction()>Logout</a>
        </div>
      </div>
  </nav>
<!-- <p>home works!</p> -->
<div class="content">
    <section class="section">
      <div class="container mainBlock">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
